<ion-header>
  <ion-toolbar color="danger">
    <ion-title color="light">Health Chatbot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>
      <img src="../assets/icon/icon.png" width="80px"height="80px" >
  <ion-text color="primary">
    <h4 >Welcome to Health Bot</h4>
    <h5 >Your Daily Symptoms Checker</h5>
    <h6>Sign In:</h6>
  </ion-text>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item margin-bottom>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-button expand="full" shape="round" color="danger" margin-top="30px" (click)="login()">Login</ion-button>
  <ion-item [routerLink]="'/register/'" routerDirection="forward">
    <ion-label color="medium">
         Sign Up here...
      </ion-label>
  </ion-item>

</ion-content>