
<ion-tabs #tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="chat">
      <ion-icon name="pulse" color="danger"></ion-icon>
      <ion-label >S Checker</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="schedule">
      <ion-icon name="list-box" color="warning"></ion-icon>
      <ion-label >Appointment</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="contact" color="primary"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="logout()">
        <ion-icon name="log-out" color="dark"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>